/*PROGRESS BAR STYLES*/
 #progress_bar {
    position: absolute;
    top: 220px;
    /*margin: 10px 0;*/
    left:50%;
    width: 260px;
    margin-left: -130px;
    padding: 3px;
    border: 1px solid rgb(158, 158, 158);
    box-shadow: 0 0 4px 2px rgb(158, 158, 158);
    border-radius: 15px;
    font-family: "Ubuntu";
    font-size: 14px;
    clear: both;
    opacity:0; /*0 by default*/
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
 }
  #progress_bar.loading {
    opacity: 1.0;
 }
  #progress_bar .percent {
    border-radius: 10px;
    background-color: rgb(158,158,158);/*#99ccff by default*/
    height: auto;
    width: 0;/*0 by default*/
 }
 /*END PROGRESS BAR STYLES*/
 /*JQUERY DATE PICKER STYLES*/
 #datepicker.form-control.hasDatepicker {
   display: block;
   width: 200px;
   margin: 0 auto;
   margin-bottom: 15px;
   background-color: #fff;
   border: none;
   border-radius: 15px;
   font-family: "Ubuntu";
   font-size: 18px;
   text-align: center;
 }
 #datepicker.form-control.hasDatepicker:hover,
 #datepicker.form-control.hasDatepicker:active {
   border: none;
   box-shadow: none;
   color: rgb(158,158,158);
 }
.ui-datepicker {
	background-color: rgb(244,244,244);/*#fff*/
	border: 1px solid rgb(158,158,158);/*#66AFE9*/
	border-radius: 4px;
	box-shadow: 0 0 4px 2px rgb(158, 158, 158);/*0 0 8px rgba(102,175,233,.6)*/
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
	text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
	color: rgb(158,158,158); /*#2A6496*/
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
	content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
	content: "\e080";
}
.ui-datepicker .ui-icon {
	display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
	width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: rgb(220,220,220);/*#eee*/
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
	background-color: rgb(158,158,158);/*#4289cc*/
}
.ui-datepicker .ui-datepicker-current-day a {
	color: #fff;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color:rgb(158,158,158); /*#fff*/
	cursor: default;
}
/*END JQUERY DATE PICKER STYLES*/
/*==========================================================================*/
/*------------------------------------BEGIN---------------------------------*/
/*==========================================================================*/
.photos__body {
	position: relative;
	padding-top: 20px;
	font-family: "Ubuntu";
  font-size: 18px;
  background-image: url("/img/810.jpg");
  background-size: 1500px 1500px;
  background-repeat: repeat;
  background-position: center;
}
.addphotos__body_slogan {
  background-color: rgb(244, 244, 244);
  border: 2px solid rgb(158, 158, 158);
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.addphotos__controls input[type="file"] {
  display: none;
}
/*.addphotos__controls_input {
  display: block;
  border: 1px solid #ccc;
}*/
.addphotos__body_slogan,
 .addphotos__body_btn,
 .addphotos__controls_input {
  padding: 5px;
  border-radius: 15px;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
  line-height: 1.1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
/*.addphotos__controls_input {
  width: 240px;
}*/
.addphotos__body_btn,
.addphotos__controls_input {
  border: none;
  background-color: rgb(158,158,158);
  border: 1px solid rgb(158, 158, 158);
}
.addphotos__body_btn:hover,
.addphotos__controls_input:hover {
  color: #fff;
}
.addphotos__body_btn:active,
.addphotos__controls_input:active {
  color: #000;
  background-color: #fff;
}
.addphotos__body_slogan_br {
  display: block;
}
.addphotos__preview {
  width: 80%;
  height: 450px;
  margin: 0 auto;
  margin-bottom: 15px;
  overflow: scroll;
  background-color: none;/*FOR TEST ONLY. NO BACKGROUND BY DEFAULT*/
}
.imageContainer { /*DIV FOR PHOTO IMG*/
  position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: auto;
	padding: 0;
  margin-bottom: 15px;
}
.thumb { /*PHOTO IMG*/
   display: block;
 	 width: auto;
   max-height: 450px;
   border: 2px solid rgb(158, 158, 158);
   box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.photo_name::before{/*BUTTON TO EDIT IMAGE INFO*/
  display: inline;
  width: 30px;
  height: 30px;
  margin-left: -40px;
  margin-top: 10px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 15px;
  background-color: rgb(158, 158, 158);
  font-family: "Material Icons";
  font-size: 25px;
  content: "mode_edit";
}
.photo_name:hover:before {
  color: #fff;
}
.photo_name:active:before {
  color: #000;
  background-color: #fff;
}
.addphotos__controls {
  display: flex;
  flex-direction: column;
}
.addphotos__controls button {
  font-family: "Ubuntu";
  font-size: 18px;
}
/*EDIT IMAGE FORM*/
.edit__image_name {
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px rgb(200, 200, 200);
}
.edit_image__ext {
  display:inline-block;
  font-style: oblique;
}
.photos__docname_form {
	position: absolute;
	width: 250px;
	top: 100px;
	left: 50%;
	margin-left: -125px;
	padding-top: 20px;
	background-color: rgb(244, 244, 244);
	border: 2px solid rgb(158, 158, 158);
	border-radius: 25px;
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.photos__docname_form-buttons {
	display: flex;
	flex-direction: row;
	flex-flow: nowrap;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}
.photos__docname_form-explanation {
  display: block;
	width: 200px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  font-family: "Ubuntu";
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
}
.photos__docname_form button {
  border: none;
  background-color: rgb(158,158,158);
  font-family: "Ubuntu";
  font-size: 18px;
  border: 1px solid rgb(158, 158, 158);
  padding: 5px;
  border-radius: 15px;
  width: 100px;
  margin: 0 auto;
}
.photos__docname_form button:hover {
	color: #fff;
}
.photos__docname_form button:active {
	color: #000;
  background-color: #fff;
}
textarea {
  resize: none;
}
.edit_image_text_area {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 70px;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 0 0 0 1px rgb(158, 158, 158);
  border: 3px solid transparent;
  background-color:
  font-family: "Ubuntu";
  font-size: 18px;
  line-height: 1.3;
  color: rgb(158, 158, 158);
  background-color: rgb(244,244,244);
}
.edit_image_text_area:hover,
.edit_image_text_area:active {
  color: #000;
  background-color: #fff;
}
/*END EDIT IMAGE FORM*/
/*WAIT ANIMATION UNIWERSAL*/
.wait_animation_uniwersal {
  position: absolute;
  width: 60px;
  height: 60px;
	padding-left: 6px;
  top:200px;
  left: 50%;
  border-radius: 30px;
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
  margin-left: -30px;
  background-color: rgb(158, 158, 158);
  animation: timing 1s infinite steps(60);
	box-sizing: border-box;
}
@keyframes timing {
  100%{
   transform: rotate(-360deg);
 }
}
/*END WAIT ANIMATION UNIWERSAL*/
/*COMMON ALERT UNIVERSAL*/
.common__alert {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 280px;
  margin-left: -140px;
  padding-top:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(244, 244, 244);
  border: 2px solid rgb(158, 158, 158);
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.common__alert-text {
	width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  line-height: 1.3;
	text-align: center;
}
.common__alert-ok_btn {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(158,158,158);
  font-family: "Ubuntu";
  font-size: 18px;
  border: 1px solid rgb(158, 158, 158);
}
.common__alert-ok_btn:hover {
  color: #fff;
}
.common__alert-ok_btn:active {
  color: #000;
  background-color: #fff;
}
/*END COMMON ALERT UNIVERSAL*/
@media (min-width: 700px) {
  .photos__body {
		font-size: 22px;
	}
  .addphotos__body_slogan {
    margin-bottom: 20px;
  }
  .addphotos__body_slogan {
    width: 480px;
  }
  .addphotos__body_slogan_br {
    display: none;
  }
  .addphotos__preview {
    height: 520px;
    margin-bottom: 25px;
  }
  .imageContainer {
    margin-bottom: 20px;
  }
  .thumb {
    max-height: 520px;
   }
  .addphotos__controls {
    width: auto;
		max-width: 680px;
		margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }
  .addphotos__controls button,
  .addphotos__controls_input {
    width: 45%;
    font-size: 22px;
  }
  /*.addphotos__controls_input {
    width: 43%;
    font-size: 22px;
  }*/
  /*EDIT IMAGE FORM*/
  .photos__docname_form {
		width: 370px;
		left: 50%;
    top: 85px;
		margin-left: -185px;
	}
  .photos__docname_form-explanation {
		font-size: 22px;
		width: 320px; /*250*/
		margin-bottom: 25px;
    text-align: left;
	}
  .photos__docname_form-explanation-br {
    display: none;
  }
  .photos__docname_form button {
		width: 155px;
		font-size: 22px;
	}
	.photos__docname_form-buttons {
		margin-bottom: 18px;
	}
  .edit_image_text_area {
    width: 318px;
    height: 145px;
    margin-bottom: 25px;
    font-size:22px;
  }
  /*jquery date picker styles*/
  #datepicker.form-control.hasDatepicker {
    width: 320px;
    margin-bottom: 25px;
    font-size: 22px;
  }
  .ui-datepicker {
    font-size: 16px;
  }
  /*end jquery date picker styles*/
  /*END EDIT IMAGE FORM*/
  #progress_bar {
    width: 400px;
    margin-left: -200px;
  }
  /*COMMON ALERT UNIVERSAL*/
	.common__alert {
		width: 325px;
		margin-left: -162.5px;
		padding-top:30px;
		margin-bottom: 30px;
	}
	.common__alert-text {
		width: 245px;
    margin-bottom: 35px;
	}
	.common__alert-ok_btn {
		width: 120px;
		height: 35px;
		margin-bottom: 20px;
		font-size: 22px;
	}
	/*END COMMON ALERT UNIVERSAL*/
}
@media (min-width: 1200px) {
  .photos__body {
		margin-top: 10px;
		font-size: 24px;
	}
  .addphotos__body_slogan {
    margin-bottom: 30px;
  }
  .addphotos__body_slogan {
    width: 520px;
  }
  .addphotos__body_slogan_br {
    display: none;
  }
  .addphotos__preview {
    margin-bottom: 35px;
  }
  .imageContainer {
    margin-bottom: 25px;
  }
  .thumb {
    max-height: 520px;
   }
  .addphotos__controls {
    max-width: 1180px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-between;
  }
  .addphotos__controls button,
  .addphotos__controls_input {
    width: 250px;
    font-size: 24px;
  }
  /*.addphotos__controls_input {
    width: 240px;
    font-size: 24px;
  }*/
  /*EDIT IMAGE FORM*/
  .photos__docname_form {
		width: 400px;
		left: 50%;
    top: 95px;
		margin-left: -200px;
	}
	.photos__docname_form-explanation {
		font-size: 24px;
		width: 350px;/*320*/
		margin-bottom: 30px;
	}
  .photos__docname_form button {
		width: 170px;
		font-size: 24px;
	}
	.photos__docname_form-buttons {
		margin-bottom: 22px;
	}
  .edit_image_text_area {
    width: 348px;
    height: 125px;
    margin-bottom: 30px;
    font-size:24px;
  }
  /*jquery date picker styles*/
  #datepicker.form-control.hasDatepicker {
    width: 350px;
    margin-bottom: 30px;
    font-size: 24px;
  }
  .ui-datepicker {
    font-size: 16px;
  }
  /*end jquery date picker styles*/
  /*END EDIT IMAGE FORM*/
  /*COMMON ALERT UNIVERSAL*/
	.common__alert {
		width: 350px;
		margin-left: -175px;
		padding-top:30px;
		margin-bottom: 30px;
	}
	.common__alert-text {
		width: 270px;
		margin-bottom: 45px;
	}
	.common__alert-ok_btn {
		width: 145px;
		height: 45px;
		margin-bottom: 20px;
		font-size: 24px;
	}
	/*END COMMON ALERT UNIVERSAL*/
}
