.login__body {
  padding-top: 70px;
  font-family: "Ubuntu";
  font-size: 18px;
  background-image: url("/img/810.jpg");
  background-size: 1500px 1500px;
  background-repeat: repeat;
  background-position: center;
  text-align: center;
}
.login__body p, .login__input, .login__btn {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
}
.login__body p.login__form-explanation {
  margin-bottom: 15px;
}
.login__form {
  width: 300px;
  margin: 0 auto;
  padding-top:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(244, 244, 244);
  border: 2px solid rgb(158, 158, 158);
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.login__input {
  border: 1px solid rgb(158,158,158);
  font-family: "Ubuntu";
  font-size: 18px;
  color: rgb(158,158,158);
}
.login__input:active, .login__input:hover {
    border: 1px solid #000;
}
.login__btn {
  border: none;
  background-color: rgb(158,158,158);
  font-family: "Ubuntu";
  font-size: 18px;
  border: 1px solid rgb(158, 158, 158);
}
.login__btn:hover {
  color: #fff;
}
.login__btn:active {
  color: #000;
  background-color: #fff;
}
/*WAIT ANIMATION UNIWERSAL*/
.wait_animation_uniwersal {
  position: absolute;
  width: 60px;
  height: 60px;
  top:200px;
  left: 50%;
  border-radius: 30px;
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
  margin-left: -30px;
  background-color: rgb(158, 158, 158);
  animation: timing 1s infinite steps(60);
}
@keyframes timing {
  100%{
   transform: rotate(-360deg);
 }
}
/*END WAIT ANIMATION UNIWERSAL*/
/*COMMON ALERT UNIVERSAL*/
.common__alert {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 280px;
  margin-left: -140px;
  padding-top:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(244, 244, 244);
  border: 2px solid rgb(158, 158, 158);
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.common__alert-text {
  line-height: 1.3;
}
.common__alert-ok_btn {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(158,158,158);
  font-family: "Ubuntu";
  font-size: 18px;
  border: 1px solid rgb(158, 158, 158);
}
.common__alert-ok_btn:hover {
  color: #fff;
}
.common__alert-ok_btn:active {
  color: #000;
  background-color: #fff;
}
/*END COMMON ALERT UNIVERSAL*/
@media (min-width: 700px) {
  .login__body {
    font-size: 22px;
  }
  .login__body p, .login__input, .login__btn {
    width: 245px;
    margin-bottom: 35px;
  }
  .login__body p.login__form-explanation {
    margin-bottom: 18px;
  }
  .login__form {
    width: 370px;
    padding-top: 35px;
  }
  /*COMMON ALERT UNIVERSAL*/
  .common__alert {
    width: 325px;
    margin-left: -162.5px;
    padding-top:30px;
    margin-bottom: 30px;
  }
  .common__alert-ok_btn {
    width: 120px;
    height: 35px;
    margin-bottom: 20px;
    font-size: 22px;
  }
  /*END COMMON ALERT UNIVERSAL*/
}
@media (min-width: 1200px) {
  .login__body {
    padding-top: 30px;
    font-size: 24px;
  }
  .login__body p, .login__input, .login__btn {
    width: 270px;
    margin-bottom: 45px;
  }
  .login__body p.login__form-explanation {
    margin-bottom: 25px;
  }
  .login__form {
    width: 405px;
    padding-top: 50px;
  }
  /*COMMON ALERT UNIVERSAL*/
  .common__alert {
    width: 350px;
    margin-left: -175px;
    padding-top:30px;
    margin-bottom: 30px;
  }
  .common__alert-ok_btn {
    width: 145px;
    height: 45px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  /*END COMMON ALERT UNIVERSAL*/
}
