.photos__body {
	position: relative;
	padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
	font-family: "Ubuntu";
  font-size: 18px;
  background-image: url("/img/810.jpg");
  background-size: 1500px 1500px;
  background-repeat: repeat;
  background-position: center;
}
.pdfpreview__content {
  background-color: rgb(244, 244, 244);
  border: 2px solid rgb(158, 158, 158);
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.photos__user {
  background-color: rgb(244, 244, 244);
  border: 2px solid rgb(158, 158, 158);
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
  padding: 5px;
  border-radius: 15px;
  width: 200px;
  margin-bottom: 10px;
  line-height: 1.1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pdfpreview__save_btn {
		padding: 5px;
	  border-radius: 15px;
		width: 200px;
		margin: 0 auto;
		margin-bottom: 10px;
		line-height: 1.1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
  	border: none;
    background-color: rgb(158,158,158);
    font-family: "Ubuntu";
    font-size: 18px;
    border: 1px solid rgb(158, 158, 158);
}
.pdfpreview__save_btn:hover {
	color: #fff;
}
.pdfpreview__save_btn:active {
	color: #000;
  background-color: #fff;
}
/*WAIT ANIMATION UNIWERSAL*/
.wait_animation_uniwersal {
  position: absolute;
  width: 60px;
  height: 60px;
	padding-left: 6px;
  top:200px;
  left: 50%;
  border-radius: 30px;
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
  margin-left: -30px;
  background-color: rgb(158, 158, 158);
  animation: timing 1s infinite steps(60);
	box-sizing: border-box;
}
@keyframes timing {
  100%{
   transform: rotate(-360deg);
 }
}
/*END WAIT ANIMATION UNIWERSAL*/
/*COMMON ALERT UNIVERSAL*/
.common__alert {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 280px;
  margin-left: -140px;
  padding-top:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(244, 244, 244);
  border: 2px solid rgb(158, 158, 158);
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.common__alert-text {
	width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  line-height: 1.3;
	text-align: center;
}
.common__alert-ok_btn {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(158,158,158);
  font-family: "Ubuntu";
  font-size: 18px;
  border: 1px solid rgb(158, 158, 158);
}
.common__alert-ok_btn:hover {
  color: #fff;
}
.common__alert-ok_btn:active {
  color: #000;
  background-color: #fff;
}
/*END COMMON ALERT UNIVERSAL*/
@media (min-width: 700px) {
  .photos__body {
    padding-left: 15px;
    padding-right: 15px;
		font-size: 22px;
	}
  .photos__user {
    margin-bottom: 20px;
  }
  /*COMMON ALERT UNIVERSAL*/
	.common__alert {
		width: 325px;
		margin-left: -162.5px;
		padding-top:30px;
		margin-bottom: 30px;
	}
	.common__alert-text {
		width: 245px;
    margin-bottom: 35px;
	}
	.common__alert-ok_btn {
		width: 120px;
		height: 35px;
		margin-bottom: 20px;
		font-size: 22px;
	}
	/*END COMMON ALERT UNIVERSAL*/
}
@media (min-width: 1200px) {
  .photos__body {
		margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
		font-size: 24px;
	}
  .photos__user {
    margin-bottom: 30px;
  }
  /*COMMON ALERT UNIVERSAL*/
	.common__alert {
		width: 350px;
		margin-left: -175px;
		padding-top:30px;
		margin-bottom: 30px;
	}
	.common__alert-text {
		width: 270px;
		margin-bottom: 45px;
	}
	.common__alert-ok_btn {
		width: 145px;
		height: 45px;
		margin-bottom: 20px;
		font-size: 24px;
	}
	/*END COMMON ALERT UNIVERSAL*/
}
