.welcome__body {
  padding: 20px; /*-HEIGHT REGULATION*/
  font-family: "Ubuntu";
  font-size: 18px;
  background-image: url("/img/810.jpg");
  background-size: 1500px 1500px;
  background-repeat: repeat;
  background-position: center;
  text-align: center;
}
.welcome__header_site-name {
  font-style: italic;
  font-weight: bold;
}
.welcome__credentials_login,
.welcome__credentials_login-ref,
.welcome__credentials_or,
.welcome__credentials_register,
.welcome__credentials_register-ref,
.welcome__footer_footer-comment,
.welcome__footer_footer-ref,.welcome__header,
.welcome__description li {
  width: 90%;
  padding: 5px;
  margin: 0 auto;
  background-color: rgb(244, 244, 244);
  border: 2px solid rgb(158, 158, 158);
  border-radius: 15px;
  margin-bottom: 20px;/*-HEIGHT REGULATION*/
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.welcome__description ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome__credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome__footer_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 700px) {
  .welcome__body {
    padding: 40px;
    font-size: 22px;
  }
  .welcome__credentials_login,
  .welcome__credentials_login-ref,
  .welcome__credentials_or,
  .welcome__credentials_register,
  .welcome__credentials_register-ref,
  .welcome__footer_footer-comment,
  .welcome__footer_footer-ref,.welcome__header,
  .welcome__description li {
    padding: 10px;
    margin-bottom: 40px;
  }
  .br_mob {
    display: none;
  }
  .welcome__description ul {
    flex-direction:row;
    flex-flow: wrap;
    justify-content: space-between;
  }
  .welcome__description li {
    width: 45%;
  }
  .welcome__description-third {
    margin-left: 25%;
  }
  .welcome__credentials {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
  }
  .welcome__credentials_login {
    width: 45%;
    order: 1;
  }
  .welcome__credentials_login-ref {
    width: 45%;
    order: 4;
  }
  .welcome__credentials_or {
    width: 20%;
    margin-left: 38%;
    order: 3;
  }
  .welcome__credentials_register {
    width: 45%;
    order: 2;
  }
  .welcome__credentials_register-ref {
    width: 45%;
    order: 5;
  }
}
@media (min-width: 1200px) {
  .welcome__body {
    padding: 40px;
    font-size: 24px;
  }
  .welcome__credentials_login,
  .welcome__credentials_login-ref,
  .welcome__credentials_or,
  .welcome__credentials_register,
  .welcome__credentials_register-ref,
  .welcome__footer_footer-comment,
  .welcome__footer_footer-ref,.welcome__header,
  .welcome__description li {
    padding: 20px;
    margin-bottom: 120px;
  }
  .welcome__description ul {
    flex-direction: row;
    flex-flow: nowrap;
  }
  .welcome__description li {
    width: auto;
  }
  .welcome__description-third {
    margin-left: 0px;
  }
  .welcome__credentials {
    flex-direction: row;
    flex-flow:nowrap;
  }
  .welcome__credentials_login {
    width: auto;
    order: 1;
  }
  .welcome__credentials_login-ref {
    width: auto;
    order: 2;
  }
  .welcome__credentials_or {
    width:auto;
    margin-left: 0px;
    order: 3;
  }
  .welcome__credentials_register {
    width: auto;
    order: 4;
  }
  .welcome__credentials_register-ref {
    width: auto;
    order: 5;
  }
  .welcome__footer_footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
